* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: teal;
}

header {
  overflow: hidden;
  height: 80px;
  background-color: white;
}

header .container {
  position: relative;
  max-width: 1000px;
  margin: auto;
  height: inherit;
}

header .logo {
  top: 50%;
  height: 46px;
  margin: -23px 10px 10px 10px;
  position: absolute;
  left: 0;
}

nav {
  top: 35%;
  position: absolute;
  right: 0;
}

nav a {
  color: black;
  text-align: center;
  padding: 12px;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

nav a:hover {
  background-color: #446e2e;
  color: white;
}

nav a.active {
  background-color: #5e9c3f;
  color: white;
}

nav a, .texto-informativo {
  font-family: Verdana, Geneva, sans-serif;
  font-variant: small-caps;
}

/** Posiciona verticalmente os itens do menu em resoluções menores */

@media screen and (max-width: 680px) {
  header {
    height: auto;
  }
  header .logo {
    position: relative;
    top: 0;
    margin: 10px;
  }
  nav a {
    float: none;
    display: block;
    text-align: left;
    border-radius: 0;
  }
  nav {
    position: relative;
    float: none;
  }
}

section, .banner, .texto-informativo {
  /** Regra !important para não utilizar margin:auto */
  margin-bottom: 30px !important;
}

.vitrine, .noticias, .cloud-tags, .mapa {
  max-width: 1000px;
  margin: auto;
  position: relative;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.2);
}

.vitrine, .noticias {
  padding: 10px 0;
}

.mapa, .cloud-tags {
  padding: 10px;
}

.banner {
  max-width: 100%;
  position: relative;
  text-align: center;
  height: 400px;
}

.banner .slideshow {
  height: 100%;
}

.banner .slides {
  position: relative;
  height: 100%;
}

.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner .titulo-imagem {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 28px;
  letter-spacing: 0px;
  word-spacing: 2px;
  color: white;
  font-weight: bolder;
  text-decoration: none;
  font-variant: small-caps;
  text-transform: capitalize;
  background: rgba(0, 0, 0, 0.5);
  padding: 40px;
}

.banner .cta {
  position: absolute;
  bottom: 15%;
  left: 50%;
  width: 200px;
  margin-left: -100px;
}

.banner .dots-container {
  position: absolute;
  bottom: 2%;
  left: 50%;
  margin-left: -19px;
}

.cta-btn {
  background-color: rgb(4, 65, 65);
  border-radius: 30px;
  border: 2px solid #b3b3b3;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Verdana;
  font-size: 20px;
  padding: 12px 35px;
  text-decoration: none;
  font-variant: small-caps;
  text-transform: capitalize;
}

.cta-btn:hover {
  background-color: rgb(2, 29, 29);
}

/** Oculta os slides por padrão */

.slides {
  width: 100%;
  height: 100%;
  display: none;
}

/** Botões anterior e próximo */

.prev, .next {
  position: absolute;
  top: 50%;
  margin-top: -40px;
  cursor: pointer;
  width: auto;
  font-weight: bold;
  font-size: 36px;
  transition: 0.6s ease;
  user-select: none;
  color: white;
  padding: 10px;
}

/** Posiciona os botões */

.next {
  right: 0;
}

.prev {
  left: 0;
}

.banner .prev, .banner .next {
  margin-top: -35px;
}

/** Adiciona efeito ao passar o cursor por cima */

.next:hover {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(0, 0, 0, 1));
}

.prev:hover {
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgb(0, 0, 0, 1));
}

/** Pontos/indicadores dos slides */

.dots-container {
  margin-top: 20px;
  text-align: center;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/** Animação de transição dos slides */

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}

h2 {
  color: white;
  max-width: 1000px;
  margin: auto;
  margin-bottom: 15px;
  text-align: center;
  font-size: 25px;
  font-family: Verdana, Geneva, sans-serif;
  font-variant: small-caps;
  text-transform: capitalize;
}

.vitrine .slides, .noticias .slides {
  text-align: center;
}

.mapa .container {
  border-radius: 10px;
  height: 400px;
}

.mapa .local {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  border: 0;
}

.texto-informativo {
  position: relative;
  background-color: #5e9c3f;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 20px;
}

.texto-informativo .cta, .texto-informativo .texto {
  display: inline-block;
  margin: 10px;
}

.texto-informativo .cta a {
  padding: 10px 20px;
}

.texto-informativo .texto {
  font-size: 26px;
  font-weight: bold;
}

.cloud-tags .container {
  text-align: center;
}

.cloud-tags a {
  padding: 15px;
  color: white;
}

.cloud-tags .tag:hover {
  background-color: rgb(2, 29, 29);
}

.cloud-tags .tag {
  background-color: #044141;
  border-radius: 25px;
  padding: 15px;
  display: inline-block;
  margin: 2px;
}

footer {
  overflow: hidden;
  background-color: #111c0c;
  padding: 15px;
  text-align: center;
}

footer .logo {
  margin-right: 20px;
}

footer .logo, footer .menu {
  display: inline-block;
}

footer .menu-esquerdo, footer .menu-direito {
  margin: 5px;
}

footer .menu {
  text-align: left;
}

footer .menu-esquerdo, footer .menu-direito {
  display: inline-block;
}

footer, footer a {
  color: white;
}

footer a {
  margin-bottom: 10px;
}

footer a:hover {
  color: rgb(163, 196, 164);
}

footer .menu-esquerdo a, footer .menu-direito a {
  display: block;
}

footer .titulo {
  font-weight: bold;
  margin-bottom: 10px;
}

.anuncio *, .artigo * {
  margin: auto;
}

.anuncio, .artigo {
  margin: 0 2px;
  position: relative;
  overflow: hidden;
  text-align: center;
  display: inline-block;
  width: 300px;
  height: 400px;
  padding: 10px;
  border-radius: 10px;
  background-color: #477630;
  -webkit-box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.5);
}

.anuncio .tipo-imovel {
  font-weight: bold;
}

.anuncio .local {
  font-style: italic;
  font-weight: bold;
  margin-bottom: 10px;
}

.anuncio .capa, .artigo .capa {
  overflow: hidden;
  width: 280px;
  border-radius: 10px;
}

.anuncio .capa {
  height: 198px;
}

.artigo .capa {
  height: 180px;
  margin-bottom: 10px;
}

.anuncio .info {
  width: 280px;
  height: 80px;
}

.anuncio .quartos, .anuncio .vagas, .anuncio .metragem {
  width: 90px;
  height: 90px;
  display: inline-block;
}

.anuncio .icone, .anuncio .qtd {
  width: 85px;
  height: 40px;
  display: block;
}

.anuncio .tipo-imovel, .anuncio .local {
  padding-top: 10px;
}

.anuncio .info {
  font-weight: bold;
  padding: 15px 0;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.2);
}

.anuncio .cta, .artigo .cta {
  cursor: pointer;
  padding: 5px;
  background-color: #044141;
  border-radius: 10px;
  width: 50%;
  left: 50%;
  margin-left: -75px;
  position: absolute;
  bottom: 10px;
}

.anuncio .cta:hover, .artigo .cta:hover {
  background-color: rgb(2, 29, 29);
}

.anuncio .cta a, .artigo .cta a {
  color: white;
}

.artigo .artigo-texto {
  text-align: left;
  height: 40%;
  padding: 15px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.2);
}

.artigo .titulo-artigo {
  margin-bottom: 8px;
}

.artigo .titulo-artigo a {
  font-weight: bold;
  color: black;
}

.artigo .titulo-artigo a:hover {
  color: rgb(2, 29, 29);
}